= wrap_layout :base_layout do
  .page
    %header= partial 'partials/header'
    %nav.main-menu= partial 'partials/nav'
    %main
      .fixbg-wrapper
        .inner= yield
    %footer= partial 'partials/footer'
