.inner
  %h1 Navigation
  %ul
    = nav_link 'HOME <small>首頁</small>', '/'
    = nav_link 'LINEUP <small>藝術家/節目表</small>', '/lineup/'
    = nav_link 'SPACE <small>場地</small>', '/space/'
    = nav_link 'TICKETS <small>購票</small>', '/tickets/'
    = nav_link 'INFO <small>活動資訊</small>', '/info/'
    = nav_link 'CONTACT <small>合作洽詢</small>', '/contact/'
