.inner
  %h1 Navigation
  %ul
    = nav_link 'HOME <small>首頁</small>', '/'
    = nav_link 'GALLERY <small>剪影</small>', '/gallery/'
    = nav_link 'EVENTS <small>活動</small>', '/events/'
    = nav_link 'LINKS <small>連結</small>', '/links/'
    = nav_link 'CONTACT <small>合作洽詢</small>', '/contact/'
